# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/
.env

# Data and outputs
data/raw/*
data/processed/*
outputs/figures/*
outputs/results/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
!outputs/results/.gitkeep

# OS / editor
.DS_Store
Thumbs.db
.vscode/
